*~
*.bak
*.o
*.so
*.mod
*.swp
*.png
*.svg
*.ps
*.eps
*.jpg
*.bmp
*.gif
*.avi
*.mp4
*.nc
*.grd
*.pdf
*.jld2
*.mat
*.html
*.rar
*.zip
*.gz
*.log
*.aux
*.tex
*.bib
*.bbl
*.doc*
*.xls*
fort.*
tmp*
gmt.*
.$*
$*
.DS_Store
!ex1_vanderPol_eps1.gif
